* {
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #061de3, #e306ca);
    color:rgb(211,211,211,.25)
   
   
    
   
    
}

.card{
    box-shadow: 500 500 2px 1px red;
    border: 2px solid black;
    width: 20%;
    margin: 3rem;
    height: 300px;
    background-color: rgba(72,96,101,2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1500ms;
    box-shadow: 10px 10px 5px lightblue;
    
    
}

.card-img{
    width: 100%;
}

.card-title{
    margin: 0;
}

.container{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    
   
   
   
}

img{
    width: 22vw;
    height: 100%;
    overflow: hidden;
}

h2,h3{
    text-shadow: 2px 2px 5px pink;
    font-family: 'Courier New', Courier, monospace;
    
}

.zoom {
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  